:root {
    --discord-bg: #36393f;
    --discord-text: #DBDEE1;
    --discord-accent: #7289da;
    --discord-btn: #b5bac1;
}

body {
    background-color: var(--discord-bg);
    color: var(--discord-text);
    font-family: Helvetica, sans-serif;
}

.navbar {
    background-color: #232428;
    color: var(--discord-text);
}

.navbar-brand {
    font-weight: bold;
    color: var(--discord-text);
}

.navbar-brand:hover {
    color: #FFF
}

.nav-item {
    background-color: #313338;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.nav-item:hover {
    background-color: #2b2d31;
}

/* .btn {
    color: #383a40;
    background-color: var(--discord-btn);
}

.btn-xl {
    padding: 40px 80px;
    font-size: 48px;
} */
