html, body {
    background-color: #2b2d31;
    color: #a4a7aa;
    padding: 0px;
    margin: 0 auto;
}

.guild {
    float: left;
    font-size: large;
    display: inline;
    position: relative;
    object-fit: cover;
    left: 5%;
    width: 95%;
    margin-bottom: 10px;
}

.map {
    margin-left: 12.5%;
    width: 75%;
    border-radius: 5%;
    height: 75%;
}