html, body {
    background-color: #2b2d31;
    color: #a4a7aa;
    padding: 0px;
    margin: 0 auto;
}

.guild {
    float: left;
    font-size: x-large;
    display: inline;
    position: relative;
    object-fit: cover;
    left: 12.5%;
    width: 87.5%;
    margin-bottom: 10px;
}

.map {
    margin-left: 12.5%;
    width: 75%;
    border-radius: 5%;
    height: 75%;
}

.navbar {
    border-radius: 0px;
    height: 6vh;
    background-color: #202225;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.navbar-button {
    display: inline-block;
    font-size: x-large;
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
    background-color: #40444b;
    color: #a4a7aa;
    cursor: pointer;
    all: unset;
}

.oauth2-button {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px;
    font-size: xx-large;
    padding: 25px;
    border-radius: 7px;
    background-color: #40444b;
    color: #a4a7aa;
    border: #202225 solid 2px;
}

.navbar-button:hover, .oauth2-button:hover {
    filter: brightness(90%);
}

.navbar-button:active, .oauth2-button:active {
    filter: brightness(80%);
}